:root {
  --accent-color: darkseagreen;
  --bg-color: darkslategray;
  --fc-today-bg-color: rgb(130 240 255 / 25%);
  --base-font: Montserrat, sans-serif;
  --display-font: Unbounded, sans-serif;
}

* {
  box-sizing: border-box;
}
html {
  background-color: darkslategray;
  color: white;
}
body {
  margin: 0;
  padding: 0 10px;
  font-family: var(--display-font);
}
@media (orientation: landscape) {
  body,
  .MuiModalDialog-root {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.container {
  margin: auto;
  display: flex;
  width: clamp(280px, 100%, 480px);
  flex-flow: row wrap;
  align-items: stretch;
  gap: 10px;
}
.module {
  /* flex: 1 1 calc(50% - 20px); */
  flex: 1 1 9em;
  border-radius: 6px;
  padding: 5px 10px 5px;
  background: rgba(255, 255, 255, 0.02);
}
.today {
  color: var(--bg-color);
  position: relative;
}
.today::before {
  content: "";
  display: block;
  position: absolute;
  inset: -25px 0 0;
  border-radius: 6px;
  background-color: ivory;
  z-index: -2;
}
.today .module_title {
  margin: 0;
}
/* .tarabala {flex-grow: 0;} */
.module__wide {
  flex-basis: 100%;
}
.module > * {
  margin: 0.35rem 0;
}
.module_category {
  color: var(--accent-color);
}
.module_category,
.module_subtitle {
  font-family: var(--base-font);
  font-weight: 600;
  font-size: 50%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.module_title {
  font-size: 15px;
}
.module_title span {
  font-weight: 300;
}
.module_subtitle {
  font-size: 0.5rem;
  letter-spacing: 0.1em;
  opacity: 1;
}
.module_description {
  font-family: var(--base-font);
  font-weight: 300;
  /* font-size: clamp(10.5px, 2.75vw, 14px); */
  font-size: 12px;
  line-height: 1.4;
}
.module_description:empty {
  display: none;
}

/* .today .module_description {
  font-size: clamp(12px, 3vw, 15px);
} */
@media (min-width: 414px) {
  .module_description {
    font-size: 14px;
  }
}
.highlight {
  padding: 0.5em 0.75em 0.5em;
  margin-left: -0.75em;
  margin-right: -0.75em;
  background: var(--fc-today-bg-color);
  border-radius: 5px;
}
.highlight strong {
  font-family: var(--display-font);
  font-weight: 500;
  font-size: 95%;
}

.fc .fc-multimonth-singlecol .fc-multimonth-daygrid {
  padding-top: 3px;
}
.fc .fc-daygrid-day-number {
  padding: 0;
  padding-top: 3px;
}
.fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
  inset: -4px 3px 3px;
}
.fc .fc-event.fc-daygrid-event {
  height: 100%;
  border-radius: 5px;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
}
.fc-daygrid-event-harness {
  height: 100%;
}
.fc-event-selected:before,
.fc-event:focus:before,
.fc .fc-highlight {
  border: solid 1px var(--bg-color);
  border-radius: 5px;
  opacity: 0.25;
  background: transparent;
}
.fc-bg-event {
  top: 1px;
  bottom: initial;
  height: 2.15em;
}
.fc-event-start {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.fc-event-end {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.period.fc-event-start {
  background-image: linear-gradient(90deg, #fff1ac, transparent 150px);
}
.period.fc-event-end {
  background-image: linear-gradient(-90deg, #fff1ac, transparent 150px);
}
.period.fc-event-end.fc-event-start {
  background-image: linear-gradient(90deg, #fff1ac, transparent 150px),
    linear-gradient(-90deg, #fff1ac, transparent 150px);
}
.ovulation.fc-event-start {
  background-image: linear-gradient(90deg, #eafff5, transparent 50px);
}
.ovulation.fc-event-end {
  background-image: linear-gradient(-90deg, #eafff5, transparent 50px);
}
.ovulation.fc-event-end.fc-event-start {
  background-image: linear-gradient(
    90deg,
    #eafff5,
    transparent 30%,
    transparent 70%,
    #eafff5
  );
}
.fc .fc-highlight {
  inset: -3px 3px 3px;
}

.fc-event-selected:after,
.fc-event:focus:after {
  background: transparent;
}
.fc-event-selected,
.fc-event:focus {
  box-shadow: none;
}
.fc-daygrid-event-dot {
  transform: translateY(90%);
}
.suryasankranti .fc-daygrid-event-dot {
  border: none;
}
.suryasankranti .fc-daygrid-event-dot::before {
  content: "✦";
  color: firebrick;
  font-size: 14px;
  position: absolute;
  transform: translateX(-50%);
}
.fc {
  color: black;
  background-color: white;
  /* font-size: clamp(12px, 2vw + 3px, 13px); */
  font-size: 12px;
  width: max(280px, 40vw);
  width: 100%;
  height: clamp(260px, 65vw, 400px);
  height: calc(11em + 180px);
  box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: height 0.5s ease-in-out;
}
@media (min-width: 414px) {
  .fc {
    font-size: 13px;
  }
}
.fc.fullheight {
  height: calc(100vh - 9em);
}
.fc table {
  height: auto !important;
}
.fc .fc-multimonth-compact .fc-multimonth-daygrid-table,
.fc .fc-multimonth-compact .fc-multimonth-header-table {
  font-size: unset;
}
.fc .fc-daygrid-day-top,
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  justify-content: center;
}
.fc-daygrid-day {
  height: calc(2em + 20px);
}
.fc .fc-daygrid-day-frame {
  padding-top: 4px;
}

.fc-popover .fc-event-time,
.fc-popover .fc-event-title {
  display: initial;
}

.fc .fc-header-toolbar,
.fc-event-time,
.newmoon .fc-event-time,
.fc-event-title {
  display: none;
}

.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}
.fc .fc-multimonth {
  border: none;
  border-radius: 6px;
}
.fc .fc-multimonth-title {
  text-align: left;
  padding-left: 4%;
}
.fc .fc-col-header-cell-cushion {
  padding: 0 4px 10px;
}
.fc .fc-day-disabled {
  background: transparent;
}

.fc-daygrid-dot-event:hover {
  background: none;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: unset;
}
.fc .fc-daygrid-day.fc-day-today {
  position: relative;
  background: none;
}
.fc .fc-daygrid-day.fc-day-today:before {
  background-color: var(--fc-today-bg-color);
  background: repeating-linear-gradient(
    -45deg,
    var(--fc-today-bg-color),
    var(--fc-today-bg-color) 2px,
    transparent 2px,
    transparent 5px
  );
  content: "";
  position: absolute;
  inset: -3px 3px 3px;
  border-radius: 5px;
  border: solid 3px var(--fc-today-bg-color);
  border-radius: 5px;
  background: transparent;
}

.eclipse .fc-daygrid-event-dot {
  box-shadow: 0 0 0 0.75px white, 0 0 6px 2px orange;
}

@media (min-width: 680px) {
  .container {
    width: clamp(680px, 100%, 800px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "cal ."
      "cal ."
      "cal .";
  }
  .tara-calendar {
    grid-area: cal;
    display: flex;
    flex-direction: column;
  }
  .fc {
    height: unset;
    transition: unset;
    flex: 1;
  }
  .today {
    flex: 0;
  }
  .tara-header {
    grid-area: header;
  }
  .tara-settings .MuiModal-backdrop {
    background-color: var(--bg-color);
  }
}

/* mui */
.MuiBox-root h5 {
  margin: 0;
}
.MuiModal-backdrop {
  backdrop-filter: blur(2px) !important;
}

.MuiModal-root h4 {
  font-family: var(--display-font);
  font-weight: 400;
}
#modal-dialog-description * {
  margin-bottom: 0.5em;
}
#modal-dialog-description :first-child {
  margin-top: 0;
}
#modal-dialog-description * + p {
  margin-top: 0.5em;
}
[class*="JoyIconButton"] {
  padding-inline: 0 !important;
}
h3,
h4,
h5 {
  --joy-fontFamily-body: var(--display-font);
}
[class*="JoySheet-root"] {
  --joy-palette-background-popup: var(
    --joy-palette-neutral-softBg,
    var(--joy-palette-neutral-100, #ebebef)
  ) !important;
}
:root {
  --joy-fontFamily-body: var(--base-font);
  --joy-fontSize-sm: 0.75rem;
  --joy-fontSize-md: 0.875rem;
  --IconButton-margin: -5px -5px -4px;
  --IconButton-radius: 50%;
  --joy-palette-background-backdrop: rgb(47 79 79 / 50%);
  --IconButton-size: 20px;
  --joy-radius-sm: 6px;
}
